<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.UsercollectionMapper" >
  <resultMap id="BaseResultMap" type="entity.Usercollection" >
    <result column="USERID" property="userid" jdbcType="VARCHAR" />
    <result column="COLLECTION" property="collection" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USERID, COLLECTION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="entity.UsercollectionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SCOTT.TB_USERCOLLECTION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from SCOTT.TB_USERCOLLECTION WHERE USERID = #{userid,jdbcType=VARCHAR}
  </select>
  
  
  <delete id="deleteByExample" parameterType="java.lang.String" >
    delete from SCOTT.TB_USERCOLLECTION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="entity.Usercollection" >
    insert into SCOTT.TB_USERCOLLECTION (USERID, COLLECTION)
    values (#{userid,jdbcType=VARCHAR}, #{collection,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.Usercollection" >
    insert into SCOTT.TB_USERCOLLECTION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        USERID,
      </if>
      <if test="collection != null" >
        COLLECTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="collection != null" >
        #{collection,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="entity.UsercollectionExample" resultType="java.lang.Integer" >
    select count(*) from SCOTT.TB_USERCOLLECTION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SCOTT.TB_USERCOLLECTION
    <set >
      <if test="record.userid != null" >
        USERID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.collection != null" >
        COLLECTION = #{record.collection,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SCOTT.TB_USERCOLLECTION
    set USERID = #{record.userid,jdbcType=VARCHAR},
      COLLECTION = #{record.collection,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <delete id="deleteByidcoll" parameterType="java.lang.String" >
    delete from SCOTT.TB_USERCOLLECTION
    where USERID=#{userid,jdbcType=VARCHAR} AND COLLECTION=#{collection,jdbcType=VARCHAR}
  </delete>
  
</mapper>