* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
section {
  position: relative;
  width: 900px;
  height: 600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
